.login {
    position: relative;
    text-align: center;
    top: 12vh;
}

.spotfilter-text-primary {
    font-size: 5rem;
    font-weight: 600;
    color: #1DB954;
}

.spotfilter-text-secondary {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.login-text {
    font-weight: 600;
    font-size: 3rem;
    display: inline;
}

.spotify-logo {
    width: 17vh;
    margin-left: 3vh;
    display: inline-block;
    padding-bottom: 2vh;
}

.login-button {
    margin-top: 2vh;
    border-radius: 30px;
    background-color: #1DB954;
    border-color: #1DB954;
    color: #ffffff;
    width: 25vh;
    height: 5vh;
    text-align: center;
    font-weight: 700;   
    font-size: 1.4rem;
    border: none;
    padding-bottom: 2.5rem;
    margin-bottom: 15vh;
}

.login-button:hover {
    background-color: rgb(29, 144, 70);
    color: #ffffff;
}