.footer {
    background-color: #121212;
    position: absolute;
    bottom: -1rem;
    width: 100%;
}

.footer-name {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #1DB954;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-right: 5rem;
}

.footer-btn {
    display: inline-block;
    margin-left: 60%;
    position: absolute;
    top: 0.6rem;
}

.footer-btn button {
    margin-right: 0.3rem;
}

.footer-btn button:focus {
    box-shadow: none;
}

.footer-btn i {
    color: #8C8B8B;
}