.header {
    background-color: #121212;
    height: 10vh;
    margin-top: 0;
    position: relative;
    min-width: 100vh;
}

.heading-name {
    position: absolute;
    color: #1DB954;
    font-weight: 700;
    left: 1vh;
    top: 2vh;
}

.heading-name h1 {
    font-size: 6vh;
}

.header-button-toolbar {
    position: absolute;
    left: 72vh;
    top: 3vh;
}

.header-link {
    background-color: #121212;
    width: 8rem;
    text-decoration: none;
    border: none;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
    margin-right: 6vh;
}

.header-link:hover {
    border-bottom: 10px solid #1DB954;
    text-decoration: none;
    color: #ffffff;
}

.header-link:visited {
    border-bottom: 10px solid #1DB954;
    text-decoration: none;
    color: #ffffff;
}

.header-link:focus {
    border-bottom: 10px solid #1DB954;
    text-decoration: none;
    color: #ffffff;
}

.plus-button {
    border-radius: 100%;
    background-color: #1DB954;
    color: #ffffff;
    margin-left: 1vh;
}

.plus-button:hover {
    background-color: rgb(29, 144, 70);
}

.search-form {
    width: 25vh;
    border-radius: 100px;
    border: none;
    position: absolute;
    top: 0.1vh;
    left: 30vh;
    padding-left: 2.5rem;
}

.fa-search {
    color: black;
    position: absolute;
    left: 32vh;
    top: 1.5vh;
}


.dropdown-button {
    left: 40vh;
}

.logout-button:focus {
    background-color: #121212;
    color: #ffffff;
}