.header {
    background-color: #121212;
    height: 10vh;
    margin-top: 0;
    position: fixed;
    width: 100%;
}

.header--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.heading-name--item {
    color: #1DB954;
    margin-left: 10vh;
    font-weight: 700;
    margin-right: 25vh;
}

.heading-name--item:hover {
    text-decoration: none;
    color: #1DB954;
}

.heading-name--item h1 {
    font-size: 6vh;
}

.header-links {
    margin-right: 6vh;
}

.header-link {
    background-color: #121212;
    width: 8rem;
    text-decoration: none;
    border: none;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
    margin-right: 6vh;
}

.header-link:hover {
    border-bottom: 10px solid #1DB954;
    text-decoration: none;
    color: #ffffff;
}

.header-link:visited {
    border-bottom: 10px solid #1DB954;
    text-decoration: none;
    color: #ffffff;
}

.header-link:focus {
    border-bottom: 10px solid #1DB954;
    text-decoration: none;
    color: #ffffff;
}

.header-plus-button {
    margin-right: 7vh;
}

.plus-button {
    border-radius: 100%;
    background-color: #1DB954;
    color: #ffffff;
    margin-left: 1vh;
}

.plus-button:hover {
    background-color: rgb(29, 144, 70);
}

.header-search {
    margin-right: 5vh;
}
.search-form {
    width: 25vh;
    border-radius: 100px;
    border: none;
    position: relative;
    padding-left: 2.5rem;
}

.fa-search {
    color: black;
    position: absolute;
    top: 4vh;
    margin-left: 1.2vh;
}

.header-logout-button {
    margin-right: 5vh;
}

.logout-button:focus {
    background-color: #121212;
    color: #ffffff;
}

.bm-burger-button {
    display: none;
}

@media (max-width: 600px) {
    .header {
        position: relative;
    }

    .header-button-toolbar {
        display: none;
    }
    
    .header--items {
        justify-content: left;
        margin-left: 2vh;
    }

    .search-form {
        width: 25vh;
        margin-top: 2vh;
        margin-bottom: 4vh;
        padding-left: 1rem;
    }

    .fa-search {
        position: absolute;
        top: 10vh;
        left: 5.5vh;
    }

    .header-link {
        margin-bottom: 4vh;
        text-align: left;
    }

    .plus-button {
        margin-right: 20vh;
        margin-top: 2vh;
    }

    .logout-button-menu {
        font-size: 1.2rem;
        margin-top: 5vh;
    }

    .bm-burger-button {
        display: flex;
    }
}