footer {
    background-color: #121212;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
}

.footer-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer {
    margin-left: 15vh
}

.footer-name-item {
    font-family: 'Lato', sans-serif;
    color: #1DB954;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    margin-right: 5rem;
}

.footer-buttons {
    margin-right: 25vh;
}

.btn-footer {
    margin-top: 1rem;
    margin-right: 1rem;
}

.btn-footer button {
    width: 10vh;
}

.btn-footer button:focus {
    box-shadow: none;
}

.btn-footer i {
    color: #8C8B8B;
}

.btn-footer:hover {
    background-color: #ffffff; 
}

.btn-footer:hover i {
    color: #121212;
}