footer {
    background-color: #121212;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-name {
    font-family: 'Lato', sans-serif;
    color: #1DB954;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-right: 5rem;
}

.btn-footer {
    margin-top: 1rem;
    margin-right: 1rem;
}

.btn-footer button {
    width: 10rem;
}

.btn-footer button:focus {
    box-shadow: none;
}

.btn-footer i {
    color: #8C8B8B;
}

.btn-footer:hover {
    background-color: #ffffff; 
}

.btn-footer:hover i {
    color: #121212;
}