.genre-line {
    border-bottom: 1px solid;
}

.btn-genre {
    display: inline-block;
    text-align: left;
    width: 15rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    outline: none;
}

.btn-genre:hover {
    color: #bbbbbb;
}

.btn-genre:focus {
    box-shadow: none;
}

.btn-genre i {
    padding-right: 1rem;
}

.card-album {
    display: inline-block;
    padding-left: 1rem;
}